.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 12px 24px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-links a {
  margin-left: 20px;
  color: white;
  font-weight: 500;
}
.navbar-links a:hover {
  text-decoration: underline;
}
